@media (max-width:1025px) {
    .top-bar{
        display: none;
    }
    
}
@media (min-width:1025px) {
    .top-bar{
        display: flex;
        height: 60px;
        background-color: #f9f9f9;
    }
    .top-bar a{
        color:#337CCF;
        color:black
    }
    .top-bar-container{
        height: 60px;
        padding: 0 25px;
    }
    .vertical-center{
        display: flex;
        align-items: center;
    }
    a,p,h1,h2,span,div{
        font-family: 'Montserrat';
        font-size: 0.8rem;
    }
    .top-bar span{
        font-family: 'Montserrat';
        margin-right: 10px;
    }
    .icon-style{
        display: flex;
        flex-wrap: nowrap;
        gap: 5px;
        padding-top:10px;
    }
    .contact{
        font-size: smaller;
    }
    .location a{
        position: relative;
        left:40px;
    }
    .location a{
        color:#337CCF;
    }
    
    .phone:hover{
        color: black;
    }
    .mail:hover{
        color: black;
    }
    .mail,.phone{
        display: flex;
        justify-content: center;
    }
}

/*......................................... navbar-style .....................................*/

.navbar-container{
    background-color: #337CCF;
}
.navbar-container a{
    color:#ffffff;
}
.navbar-center{
    display: flex;
    justify-content:center;
    width: 90%;
    height: 100%;
    border:0;
}
.navbar-center-1{
    font-weight: 300;
    font-size: 0.9rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.contain-navbar{
    margin: 0 3% !important;
}
.shopping-cart {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}
@media (min-width:1025px) {
    .toggle-bar{
        display: none;
    }
}
@media (max-width:1025px) {
    .toggle-bar{
        display: block;
    }
}