@media (max-width:1200px) {
    .top-bar{
        display: none;
    }
    
}
@media (min-width:1200px) {
    .top-bar{
        display: flex;
        height: 60px;
        background-color: #f9f9f9;
        text-align: center;
    }
    
    .top-bar-container{
        height: 60px;
        padding: 0 25px;
    }
    .vertical-center{
        display: flex;
        align-items: center;
    }
    a,p,h1,h2,span,div{
        font-family: 'Montserrat';
        font-size: 0.8rem;
    }
    .top-bar span{
        font-family: 'Montserrat';
        margin-right: 10px;
        color: #111111;
    }
    .icon-style{
        display: flex;
        flex-wrap: nowrap;
        gap: 5px;
        padding-top:10px;
    }
    .contact{
        font-size: smaller;
    }
    .location Link{
        color: #337CCF;
        position: relative;
        left:40px;
    }
    
    .phone:hover{
        color: black;
    }
    .mail:hover{
        color: black;
    }
    
    .mail,.phone{
        color: #111111;
        display: flex;
        justify-content: center;
    }
}

/*......................................... navbar-style .....................................*/

.navbar-container{
    background-color: #337CCF;
}
.navbar-container Link{
    color:#ffffff;
}
.navbar-center{
    display: flex;
    justify-content:center;
    height: 100%;
    border:0;
}
.navbar-center-1{
    font-weight: 500;
    font-size: 0.9rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #ffffff;
}
.shopping-cart {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:992px) {
    .dummy{
        display: block;
    }
}
@media (min-width:992px) {
    .dummy{
        display: none;
    }
}
@media (min-width:992px) {
    .toggle-bar{
        display: none;
    }
}
@media (max-width:992px) {
    .toggle-bar{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}
@media (min-width:992px) {
    .navbar-hide{
        display: block;
    }
}
@media (max-width:992px) {
    .navbar-hide{
        display: none;
    }
}

/*-------------------------------------Side Navebar---------------------------------------------*/


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
  }
  
  .sidenav >*{
    
    padding: 8px 8px 8px 32px;
    margin-bottom: 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #mySidenav{
    width: 0;
  }
  #mySidenav-active{
    width:250px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav Link {font-size: 18px;}
  }

@media  screen and (min-width:992px) {
    .sidenav{
        display: none;
    }
}
  