h2{
    font-family: "Montserrat";
    color: #000000;
    font-size: 3.5rem;
    font-weight: 400;
}
.must-head-center{
    display: flex;
    text-align: center;
    justify-content: center;
}

.must-line{
    height: 0.2rem;
    background-color: #000000;
}
.my-card{
    display: flex;
    justify-content: center;
}